<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>3
    <title>PMA</title>
    {% block head %}{% endblock head %}
</head>
<body>
    <div id="app">
    {% block vue_app %}{% endblock %}
    </div>
</body>





<script>
  const { createApp } = Vue

  createApp({
    delimiters: ['[[', ']]'],

    data() {
      return {
        {% block vue_data %}
        {% endblock %}
      }
    },
    methods: [
        {% block vue_methods %}
        {% endblock %}
    ]
  }).mount('#app')
</script>
</html>