<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMA</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>


    
</body>



<div id="app">
  [[ message_js ]]

  <h1>The number from vue is: [[obj_js.number]]</h1>
</div>

<script>
  const { createApp } = Vue

  createApp({
    delimiters: ['[[', ']]'],

    data() {
      return {
        {% block vue_data %}
        {% endblock %}
      }
    },
    methods: {
        {% block vue_methods %}
        {% endblock %}
    }
  }).mount('#app')
</script>
</html>