{% extends "base.html" %}
{% block vue_app %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-left">
                <button class="btn btn-outline-primary">Button</button>
                <br>
                <br>
                <button class="btn btn-outline-primary">Button</button>
                <br>
                <br>
                <button class="btn btn-outline-primary">Button</button>
                <br>
                <br>
                <button class="btn btn-outline-primary">Button</button>
                <br>
                <br>
            </div>
            <div class="col-md-8">
                <div class="container-fluid vertical-scrollable">
                    {% for project in projects %}
                        <div class="row">
                            <div href="/projects/{{ project.id }}" class="card">
                                <div class="card-header">{{ project.title }}</div>
                                <div class="card-body">
                                    <small>Created: {{ project.created }}</small>
                                    <p class="card-text">Some description....</p>
                                    <a href="/projects/{{ project.id }}" class="btn btn-primary">Open</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div v-for="project in projects" class="row">
                        <div class="card">
                            <div class="card-header">[[ project.title ]]</div>
                            <!-- <small>[[project.id]]</small> -->
                            <div class="card-body">
                                <p>Some text...</p>
                                <a href="/projects/[[project.id]]" class="btn btn-outline-primary">Print projects</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block vue_data %}
    <!-- projects: {{projects|safe }}, -->
    selected_proj: false,
    selected_proj_id: 0,
    projects: {{ proj_json | safe }},
{% endblock %}
{% block vue_methods %}
    print(){
    for (project in this.projects) {
    console.log(project);
    }
    console.log(this.projects);
    }
{% endblock %}
